<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665574429910-knstt55bdnnmdf052c0s6lm1f5an8p33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665574429910-knstt55bdnnmdf052c0s6lm1f5an8p33</string>
	<key>API_KEY</key>
	<string>AIzaSyC7yZhV5pBxrjNze-KPPOby21ETdCBqcsI</string>
	<key>GCM_SENDER_ID</key>
	<string>665574429910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.luciarigoni.RickandMortyApp</string>
	<key>PROJECT_ID</key>
	<string>rickandmortyapp-5d120</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmortyapp-5d120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665574429910:ios:973123b8ad38b5ea3a6577</string>
</dict>
</plist>